/* custom routine calendar */
.custom-routine-calendar {
  width: 100%;
  border: none;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  background: white;
}

/* 네비게이션 영역 */
.custom-routine-calendar .react-calendar__navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 24px;
  align-items: center;
  border: none;
}

.custom-routine-calendar .react-calendar__navigation button {
  min-width: 40px;
  min-height: 40px;
  background: none;
  border: none;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-routine-calendar .react-calendar__navigation button:enabled:hover,
.custom-routine-calendar .react-calendar__navigation button:enabled:focus {
  background-color: transparent;
}

.custom-routine-calendar .react-calendar__navigation__label {
  flex-grow: 0 !important;
  font-size: 24px;
  font-weight: 500;
  color: #000;
  pointer-events: none;
}

/* 요일 헤더 */
.custom-routine-calendar .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  color: #9e9e9e;
  margin-bottom: 12px;
}

.custom-routine-calendar .react-calendar__month-view__weekdays__weekday {
  padding: 12px 0;
  text-align: center;
}

.custom-routine-calendar .react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  cursor: default;
}

/* 날짜 타일 */
.custom-routine-calendar .react-calendar__month-view__days {
  gap: 0;
}

.custom-routine-calendar .react-calendar__tile {
  max-width: 100%;
  aspect-ratio: 1;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px;
}

.custom-routine-calendar .react-calendar__tile:enabled:hover,
.custom-routine-calendar .react-calendar__tile:enabled:focus {
  background-color: transparent;
}

/* 선택된 날짜 */
.custom-routine-calendar .react-calendar__tile--active {
  /* background: #6157dc;
  border-radius: 50%; */
}

.custom-routine-calendar .react-calendar__tile--active:enabled:hover,
.custom-routine-calendar .react-calendar__tile--active:enabled:focus {
  /* background: #6157dc; */
}

/* 다른 달 날짜 숨기기 */
.custom-routine-calendar
  .react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}

/* year picker */
.year-picker {
  width: 100%;
}

.year-picker > div:last-child > div {
  height: 36px;
  width: 100%;
  background-color: #3c3c435c !important;
}

/* blood-pressure-picker */
.blood-pressure-picker > div[style*="pointer-events: none"] {
  display: none !important;
}

.record-calendar {
  border: none !important;
}

.record-calendar
  > div:last-child
  > div
  > div
  > div
  > div:last-child
  > .react-calendar__tile--active {
  border-radius: 100% !important;
}
